<div class="row" style="padding-top:15px;">
	<div class=" col-md-12">
		<span class="logo">		
			<img src="images/logo.png" width="200px" />
		</span>

		<span class="nav-bar-menu">
			<span class="nav-bar-menu-option">
				<a href="#/login"> <span class="glyphicon glyphicon glyphicon-off" style="vertical-align:middle"></span></a>
			</span>
		</span>

	</div>	
</div>

<div class="row welcome">
	<div class="col-md-8 col-md-offset-2">
		<div  style="text-align:center;">
			<div class="col-md-6">
				<img src="images/frame_one.png" />
				<h2>Organize</h2>
			</div>
			<div class="col-md-6">
				<img src="images/frame_two.png" />
				<h2>Share</h2>
			</div>
			<div class="col-md-12" style="padding:20px;">
				<div class="alert alert-warning" role="alert">
					<a href="#/account">
					Create an Account</a>
				</div>
				
			</div>
			<div class="col-md-12">
				<h3>With <strong>Linkaptor</strong> you can organize all your links in one place.</h3>
				<h3>Share them with your friends or follow other kaptors.</h3>
			</div>
		</div>
	</div>
</div>
	